In [1]:
import pandas as pd

In [2]:
df_ddos_1 = pd.read_csv('FlowStatsfile_ddos_1.csv')
df_ddos_2 = pd.read_csv('FlowStatsfile_ddos_2.csv')
df_ddos_3 = pd.read_csv('FlowStatsfile_ddos_3.csv')
df_ddos_4 = pd.read_csv('FlowStatsfile_ddos_4.csv')

df_nor = pd.read_csv('FlowStatsfile_normal.csv')

In [7]:
def check_zero_col(df):
    zero_count_per_column = (df == 0).sum()/len(df)*100
    print(len(df))
    # print(zero_count_per_column)
    return zero_count_per_column

In [9]:
check_zero_col(df_ddos_1)

479150

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                      100.000000
ip_dst                        0.000000
tp_dst                      100.000000
ip_proto                      0.000000
icmp_code                   100.000000
icmp_type                     0.000000
flow_duration_sec             6.210581
flow_duration_nsec            0.096838
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 99.636231
byte_count                   99.636231
packet_count_per_second      99.654805
packet_count_per_nsecond     99.654805
byte_count_per_second        99.654805
byte_count_per_nsecond       99.654805
label                         0.000000
dtype: float64

In [3]:
df_ddos_1.head()

,timestamp,datapath_id,flow_id,ip_src,tp_src,ip_dst,tp_dst,ip_proto,icmp_code,icmp_type,...,idle_timeout,hard_timeout,flags,packet_count,byte_count,packet_count_per_second,packet_count_per_nsecond,byte_count_per_second,byte_count_per_nsecond,label
0,1.730519e+09,2,0.19.19.198010.0.0.501,0.19.19.198,0,10.0.0.5,0,1,0,8,...,20,100,0,0,0,0.0,0.0,0.0,0.0,1
1,1.730519e+09,2,0.27.163.248010.0.0.501,0.27.163.248,0,10.0.0.5,0,1,0,8,...,20,100,0,0,0,0.0,0.0,0.0,0.0,1
2,1.730519e+09,2,100.107.94.46010.0.0.501,100.107.94.46,0,10.0.0.5,0,1,0,8,...,20,100,0,0,0,0.0,0.0,0.0,0.0,1
3,1.730519e+09,2,100.44.47.24010.0.0.501,100.44.47.24,0,10.0.0.5,0,1,0,8,...,20,100,0,0,0,0.0,0.0,0.0,0.0,1
4,1.730519e+09,2,101.90.158.61010.0.0.501,101.90.158.61,0,10.0.0.5,0,1,0,8,...,20,100,0,0,0,0.0,0.0,0.0,0.0,1

In [6]:
df_ddos_1.columns

Index(['timestamp', 'datapath_id', 'flow_id', 'ip_src', 'tp_src', 'ip_dst',
       'tp_dst', 'ip_proto', 'icmp_code', 'icmp_type', 'flow_duration_sec',
       'flow_duration_nsec', 'idle_timeout', 'hard_timeout', 'flags',
       'packet_count', 'byte_count', 'packet_count_per_second',
       'packet_count_per_nsecond', 'byte_count_per_second',
       'byte_count_per_nsecond', 'label'],
      dtype='object')

In [4]:
df_ddos_2.head()

,1730510373.673809,1,0.153.188.201538110.0.0.2017,0.153.188.201,5381,10.0.0.2,0,17,-1,-1.1,...,20,100,0.1,0.2,0.3,0.0,0.0.1,0.0.2,0.0.3,2
0,1.730510e+09,1,0.181.220.251509010.0.0.2017,0.181.220.251,5090,10.0.0.2,0,17,-1,-1,...,20,100,0,0,0,0.0,0.0,0.0,0.0,2
1,1.730510e+09,1,0.190.61.149506210.0.0.2017,0.190.61.149,5062,10.0.0.2,0,17,-1,-1,...,20,100,0,0,0,0.0,0.0,0.0,0.0,2
2,1.730510e+09,1,0.229.11.225533110.0.0.2017,0.229.11.225,5331,10.0.0.2,0,17,-1,-1,...,20,100,0,0,0,0.0,0.0,0.0,0.0,2
3,1.730510e+09,1,0.253.210.97496610.0.0.2017,0.253.210.97,4966,10.0.0.2,0,17,-1,-1,...,20,100,0,0,0,0.0,0.0,0.0,0.0,2
4,1.730510e+09,1,0.35.104.132504910.0.0.2017,0.35.104.132,5049,10.0.0.2,0,17,-1,-1,...,20,100,0,0,0,0.0,0.0,0.0,0.0,2

In [10]:
df_ddos_2.columns = df_ddos_1.columns

In [11]:
check_zero_col(df_ddos_2)

440641

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                        0.000000
ip_dst                        0.000000
tp_dst                      100.000000
ip_proto                      0.000000
icmp_code                     0.000000
icmp_type                     0.000000
flow_duration_sec             5.974705
flow_duration_nsec            0.103713
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 99.671388
byte_count                   99.671388
packet_count_per_second      99.689543
packet_count_per_nsecond     99.689543
byte_count_per_second        99.689543
byte_count_per_nsecond       99.689543
label                         0.000000
dtype: float64

In [5]:
df_ddos_3.head()

,1730512104.145518,2,10.226.11.54428810.0.0.5806,10.226.11.54,4288,10.0.0.5,80,6,-1,-1.1,...,20,100,0,0.1,0.2,0.0,0.0.1,0.0.2,0.0.3,3.1
0,1.730512e+09,2,10.51.16.218421510.0.0.5806,10.51.16.218,4215,10.0.0.5,80,6,-1,-1,...,20,100,0,1,174,0.333333,2.347418e-09,58.0,4.084507e-07,3
1,1.730512e+09,2,100.11.147.98373510.0.0.5806,100.11.147.98,3735,10.0.0.5,80,6,-1,-1,...,20,100,0,0,0,0.000000,0.000000e+00,0.0,0.000000e+00,3
2,1.730512e+09,2,100.154.158.2393510.0.0.5806,100.154.158.2,3935,10.0.0.5,80,6,-1,-1,...,20,100,0,0,0,0.000000,0.000000e+00,0.0,0.000000e+00,3
3,1.730512e+09,2,100.172.150.135422610.0.0.5806,100.172.150.135,4226,10.0.0.5,80,6,-1,-1,...,20,100,0,0,0,0.000000,0.000000e+00,0.0,0.000000e+00,3
4,1.730512e+09,2,100.219.122.159414710.0.0.5806,100.219.122.159,4147,10.0.0.5,80,6,-1,-1,...,20,100,0,0,0,0.000000,0.000000e+00,0.0,0.000000e+00,3

In [12]:
df_ddos_3.columns = df_ddos_1.columns
check_zero_col(df_ddos_3)

454761

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                        0.000000
ip_dst                        0.000000
tp_dst                        0.000000
ip_proto                      0.000000
icmp_code                     0.000000
icmp_type                     0.000000
flow_duration_sec             6.627877
flow_duration_nsec            0.089717
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 99.652565
byte_count                   99.652565
packet_count_per_second      99.669937
packet_count_per_nsecond     99.669937
byte_count_per_second        99.669937
byte_count_per_nsecond       99.669937
label                         0.000000
dtype: float64

In [16]:
df_ddos_4.head()

,timestamp,datapath_id,flow_id,ip_src,tp_src,ip_dst,tp_dst,ip_proto,icmp_code,icmp_type,...,idle_timeout,hard_timeout,flags,packet_count,byte_count,packet_count_per_second,packet_count_per_nsecond,byte_count_per_second,byte_count_per_nsecond,label
0,1.730513e+09,4,10.0.0.13500010.0.0.1306,10.0.0.13,5000,10.0.0.13,0,6,-1,-1,...,20,100,0,3,522,0.6,5.199307e-09,104.4,9.046794e-07,4
1,1.730513e+09,4,10.0.0.13500110.0.0.1306,10.0.0.13,5001,10.0.0.13,0,6,-1,-1,...,20,100,0,3,522,0.6,5.199307e-09,104.4,9.046794e-07,4
2,1.730513e+09,4,10.0.0.13500210.0.0.1306,10.0.0.13,5002,10.0.0.13,0,6,-1,-1,...,20,100,0,3,522,0.6,5.199307e-09,104.4,9.046794e-07,4
3,1.730513e+09,4,10.0.0.13500310.0.0.1306,10.0.0.13,5003,10.0.0.13,0,6,-1,-1,...,20,100,0,3,522,0.6,5.199307e-09,104.4,9.046794e-07,4
4,1.730513e+09,4,10.0.0.13500410.0.0.1306,10.0.0.13,5004,10.0.0.13,0,6,-1,-1,...,20,100,0,3,522,0.6,5.474453e-09,104.4,9.525547e-07,4

In [13]:
df_ddos_4.columns = df_ddos_1.columns
check_zero_col(df_ddos_4)

453954

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                        0.000000
ip_dst                        0.000000
tp_dst                      100.000000
ip_proto                      0.000000
icmp_code                     0.000000
icmp_type                     0.000000
flow_duration_sec             6.335884
flow_duration_nsec            0.106619
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 52.096027
byte_count                   52.096027
packet_count_per_second      53.608736
packet_count_per_nsecond     53.608736
byte_count_per_second        53.608736
byte_count_per_nsecond       53.608736
label                         0.000000
dtype: float64

In [14]:
df_nor.head()

,timestamp,datapath_id,flow_id,ip_src,tp_src,ip_dst,tp_dst,ip_proto,icmp_code,icmp_type,...,idle_timeout,hard_timeout,flags,packet_count,byte_count,packet_count_per_second,packet_count_per_nsecond,byte_count_per_second,byte_count_per_nsecond,label
0,1.730112e+09,1,10.0.0.1505010.0.0.18559346,10.0.0.1,5050,10.0.0.18,55934,6,-1,-1,...,20,100,0,3228,213076,0.0,0.0,0.0,0.0,0
1,1.730112e+09,1,10.0.0.185593410.0.0.150506,10.0.0.18,55934,10.0.0.1,5050,6,-1,-1,...,20,100,0,9675,475053342,0.0,0.0,0.0,0.0,0
2,1.730112e+09,5,10.0.0.1505010.0.0.18559346,10.0.0.1,5050,10.0.0.18,55934,6,-1,-1,...,20,100,0,3228,213076,0.0,0.0,0.0,0.0,0
3,1.730112e+09,5,10.0.0.185593410.0.0.150506,10.0.0.18,55934,10.0.0.1,5050,6,-1,-1,...,20,100,0,9674,474988116,0.0,0.0,0.0,0.0,0
4,1.730112e+09,6,10.0.0.1505010.0.0.18559346,10.0.0.1,5050,10.0.0.18,55934,6,-1,-1,...,20,100,0,3228,213076,0.0,0.0,0.0,0.0,0

In [15]:
df_nor.columns = df_ddos_1.columns
check_zero_col(df_nor)

465828

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                       22.092918
ip_dst                        0.000000
tp_dst                       22.092918
ip_proto                      0.000000
icmp_code                    61.732227
icmp_type                    31.479860
flow_duration_sec             2.932627
flow_duration_nsec            0.104330
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 26.244451
byte_count                   26.244451
packet_count_per_second      27.489975
packet_count_per_nsecond     27.489975
byte_count_per_second        27.489975
byte_count_per_nsecond       27.489975
label                       100.000000
dtype: float64

In [17]:
def concat_df(df1, df2):
    df_combined = pd.concat([df1, df2], ignore_index=True)

    df_shuffled = df_combined.sample(frac=1, random_state=1).reset_index(drop=True)
    return df_shuffled

In [18]:
df = concat_df(df_ddos_1,df_ddos_2)
df = concat_df(df,df_ddos_3)
df = concat_df(df,df_ddos_4)
df = concat_df(df,df_nor)

In [19]:
check_zero_col(df)

2294334

timestamp                     0.000000
datapath_id                   0.000000
flow_id                       0.000000
ip_src                        0.000000
tp_src                       25.369672
ip_dst                        0.000000
tp_dst                       64.361161
ip_proto                      0.000000
icmp_code                    33.417802
icmp_type                     6.391484
flow_duration_sec             5.607248
flow_duration_nsec            0.100203
idle_timeout                  0.000000
hard_timeout                  0.000000
flags                       100.000000
packet_count                 75.338944
byte_count                   75.338944
packet_count_per_second      75.901939
packet_count_per_nsecond     75.901939
byte_count_per_second        75.901939
byte_count_per_nsecond       75.901939
label                        20.303408
dtype: float64

In [29]:
len(df)

2294334

In [28]:
distinct_count = df.nunique()
print("Sá»‘ lÆ°á»£ng giÃ¡ trá»‹ khÃ¡c nhau:", distinct_count)

Sá»‘ lÆ°á»£ng giÃ¡ trá»‹ khÃ¡c nhau: timestamp                    58492
datapath_id                      6
flow_id                     462579
ip_src                      317162
tp_src                       61668
ip_dst                          18
tp_dst                        9154
ip_proto                         3
icmp_code                        3
icmp_type                        4
flow_duration_sec              101
flow_duration_nsec            1000
idle_timeout                     1
hard_timeout                     1
flags                            1
packet_count                 15898
byte_count                   17103
packet_count_per_second      24269
packet_count_per_nsecond    130140
byte_count_per_second        25286
byte_count_per_nsecond      155884
label                            5
dtype: int64

In [31]:
data = df.drop(columns=["timestamp", "flow_id","idle_timeout","hard_timeout","flags"])

In [32]:
data.columns

Index(['datapath_id', 'ip_src', 'tp_src', 'ip_dst', 'tp_dst', 'ip_proto',
       'icmp_code', 'icmp_type', 'flow_duration_sec', 'flow_duration_nsec',
       'packet_count', 'byte_count', 'packet_count_per_second',
       'packet_count_per_nsecond', 'byte_count_per_second',
       'byte_count_per_nsecond', 'label'],
      dtype='object')

In [37]:
import ipaddress
data['ip_src'] = data['ip_src'].apply(lambda x: int(ipaddress.IPv4Address(x)))
data['ip_dst'] = data['ip_dst'].apply(lambda x: int(ipaddress.IPv4Address(x)))

In [38]:
data.head()

,datapath_id,ip_src,tp_src,ip_dst,tp_dst,ip_proto,icmp_code,icmp_type,flow_duration_sec,flow_duration_nsec,packet_count,byte_count,packet_count_per_second,packet_count_per_nsecond,byte_count_per_second,byte_count_per_nsecond,label
0,3,167772165,5202,167772165,0,6,-1,-1,5,622000000,4,696,0.800000,6.430868e-09,139.2,0.000001,4
1,3,535633541,0,167772168,0,1,0,8,12,140000000,0,0,0.000000,0.000000e+00,0.0,0.000000,1
2,4,167772166,5856,167772166,0,6,-1,-1,29,172000000,9,1566,0.310345,5.232558e-08,54.0,0.000009,4
3,5,2534480792,17108,167772162,0,17,-1,-1,0,141000000,0,0,0.000000,0.000000e+00,0.0,0.000000,2
4,3,1095188370,17202,167772169,80,6,-1,-1,17,42000000,0,0,0.000000,0.000000e+00,0.0,0.000000,3

In [39]:
data.to_csv("data.csv",index=False)